page-login, page-new-account, page-forgot{
  .text-input,.text-input::placeholder{
    color: #fff;
    font-size: 3vh;
  }
  .scroll-content {
      // background: color($colors, login, base);
      // background-color: #3b3b3b;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    .logo{
      width: 40%;
    }
    img {
      width: 50%;
      height: auto;
      margin: 0 auto;
    }

    #logo-fundo {
      // background-image: url(../img/buffon2.png);
      // opacity: 0.5;
      // background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
    #logo-fundo:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      opacity: 0.1;
      // background-image: url(../assets/img/buffon2.png);
      background-repeat: no-repeat;
      background-position: 50% 0;
    }

      ion-row {
        align-items: center;
        text-align: center;
      }

      ion-item {
          // border-radius: 30px !important;
          padding-left: 10px !important;
          margin-bottom: 10px;
          background-color: transparent;
          opacity: 0.7;
          font-size: 0.9em;
          margin-top: 4px !important;
          // background-color: rgba(255, 255, 255, 0.87) !important;
          background-color: transparent !important;
      }

      ion-list {
          margin: 0;
      }

      hr.separador {
        margin-top: 20px;
        margin-bottom: 20px;
        border-top: 4px double #8c8b8b;
        text-align: center;
      }
      hr.separador:after {
        /* content: ' ou '; */
        display: inline-block;
        position: relative;
        top: -15px;
        padding: 0 10px;
        background: #fccb19;
        color: #8c8b8b;
        font-size: 18px;
      }

    .top-row{
      height: 60%;
      margin-top: 20%;
    }

    .loginOptions{
      color: #fff;
    }
    .bottom-row{
      height: 40%;
    }
    div.social-wrap button {
      width:100%;
      background: none;
      border: none;
      display: block;
      background-size: 35px 35px;
      background-position: right center;
      background-repeat: no-repeat;
      border-radius: 4px;
      color: white;
      font-family:"Merriweather Sans", sans-serif;
      font-size: 14px;
      margin-bottom: 15px;
      background: color($colors, default_, base);
      border-bottom: 2px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      box-shadow: 0 4px 2px -2px gray;
      text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
    }
    div.social-wrap button:hover{
      background: #0a0a0a !important;
    }

    #facebook {
      border-color: #2d5073;
      background-color: #3b5998;
      background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
    }
    #facebook:hover{
      background: #2d5073 !important;
    }

    ion-content{
      // background: color($colors, login, base);
      background-image: url(../assets/img/background.jpg);
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
    }
    ion-toolbar p{
      color: #F5F5F5;
    }
  }


//   .login-content{
//     background-color: #fccb19;

//   }

//   .bg-imag{
//     position:absolute;
//     width:100%;
//     opacity:0.05;
//   }

//   .bg-imag img{
//     display: block;
//     margin-left: auto;
//     margin-right: auto;

//   }

//   .label-logo{
//     color: white;
//     font-size: 400%;
//     font-weight: bold;
//     text-align: center;
//     padding-top: 50px;
//   }

//   .label-description{
//     color: black;
//     font-size: 130%;
//     text-align: center;
//     font-family: 'Montserrat', sans-serif;
//   }

//   .top-row{
//     height: 60%;
//   }

//   .bottom-row{
//     height: 40%;
//   }
// input{
//   background-color: red;
// }

// .item-ios, .item-md{
//   background-color: transparent;
// }
// input[type="text"] ,input[type="password"]{
//   color:#000;
// }

// input[type="text"]::-webkit-input-placeholder ,input[type="password"]::-webkit-input-placeholder {
//     color: #fff;
// }

// .item {
//     border-bottom: 1px solid #ababab;
// }
// @import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
//  div.social-wrap button {
//     width:100%;
//     background: none;
//     border: none;
//     display: block;
//     background-size: 35px 35px;
//     background-position: right center;
//     background-repeat: no-repeat;
//     border-radius: 4px;
//     color: white;
//     font-family:"Merriweather Sans", sans-serif;
//     font-size: 14px;
//     margin-bottom: 15px;

//     border-bottom: 2px solid transparent;
//     border-left: 1px solid transparent;
//     border-right: 1px solid transparent;
//     box-shadow: 0 4px 2px -2px gray;
//     text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
// }
// button#facebook {
//     border-color: #2d5073;
//     background-color: #3b5998;
//     background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
// }


