<ion-tabs color="default_">
    <ion-tab [root]="tab1Root" tabTitle="Cardápio" tabIcon="icon-burguer" ios="icon-burguer-outline" ></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Pedidos" tabIcon="paper"></ion-tab>
  </ion-tabs>
