<!--
  Generated template for the ClassesDetailOrder page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="default_">
      <ion-title class="keywords"></ion-title>
    </ion-navbar>

</ion-header>


<ion-content parallax-header>

    <div [ngStyle]="{'background-image': 'url(' + productOrder.menu.image + ')'}" class="header-image">

    </div>

    <div class="main-content">

      <ion-card>
        <ion-list >
            <ion-item>
              <h1 class="keywords" >{{productOrder.menu.name}}</h1>
              <p  text-wrap>{{productOrder.menu.description}}</p>
            </ion-item>
        </ion-list>
        </ion-card>
        <span *ngIf="classe.additional == true" >
          <additional-picker  [(sharedVar)]="productOrder.additional" [(item)]="productOrder.menu" [(edit)]="edit"></additional-picker>

          <ion-card>
            <ion-card-header class="keywords">
              Observações
            </ion-card-header>
            <ion-list>
              <ion-item>
                <ion-textarea elastic [(ngModel)]="productOrder.note" placeholder="Coloque suas observações para seu lanche ficar cada vez mais delicioso"></ion-textarea>
              </ion-item>
            </ion-list>
          </ion-card>
        </span>

        <ion-item>
          <ion-row align-items-center>
            <ion-col col-8>
                <h3>Quantidade</h3>
            </ion-col>
            <ion-col col-4 align="right">
                <ion-icon name="remove-circle" color="danger" class="buttonQtdLess" (click)="removeQtd()"  ></ion-icon>
                {{productOrder.qtd}}
                <ion-icon name="add-circle" color="secondary" class="buttonQtdAdd" (click)="addQtd()"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item>
          <span item-start>Total</span>
          <span item-end>{{ productOrder.menu.price * productOrder.qtd | currency:'BRL':true:'1.2-2' }}</span>
        </ion-item>
    </div>

</ion-content>
<ion-footer (click)="order()" >
  <ion-toolbar color="default_">
    <ion-title padding text-uppercase>adicionar ao carrinho</ion-title>
  </ion-toolbar>
</ion-footer>
