<!--
  Generated template for the Order page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="default_">
    <ion-title class="keywords">Resumo do Pedido</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-list>
    <ion-card *ngFor="let item of order.itens;let i=index" >
      <button ion-button icon-only class="button-clear " margin-right margin-top  (click)="showOptions($event,item,i)" float-right>
        <ion-icon  color="success" name="more"></ion-icon>
      </button>

      <ion-item-sliding>
        <ion-item>

          <ion-thumbnail item-start>
            <img [src]="item.menu.image">
          </ion-thumbnail>
          <h2 text-wrap>{{item.menu.name}} </h2>
          <p>{{item.price | currency:'BRL':true:'1.2-2'}}</p>
          <span item-end>
            <ion-icon name="remove-circle" color="danger" class="buttonQtdLess" (click)="removeQtd(item)" ></ion-icon>
              {{item.qtd}}
            <ion-icon name="add-circle" color="secondary" class="buttonQtdAdd" (click)="addQtd(item)"></ion-icon>
          </span>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="editItem(item,i)" >
            <ion-icon name="create"></ion-icon>
            Editar
          </button>
          <button ion-button color="danger" (click)="removeProduct(item)">
            <ion-icon name="trash"></ion-icon>
            Excluir
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item *ngIf=" item.note != undefined " >
        <h3>Observações</h3>
        <p>{{item.note}}</p>
      </ion-item>
      <ion-item *ngIf="item.additional.length > 0" >
        <h3>Adicionais</h3>
        <span *ngFor="let additional of item.additional  " margin>
          <p [hidden]="additional.amount ==0">{{additional.amount}} unidade(s) de {{additional.name}} </p>
        </span>
      </ion-item>
    </ion-card>

  </ion-list>
  <ion-item>
    <span item-start>Total</span>
    <span item-end>{{order.total | currency:'BRL':true:'1.2-2' }}</span>
  </ion-item>
    <!-- <button (click)="enviar()">rjfnjnjt</button> -->
</ion-content>

<ion-footer (click)="checkOut()" >
    <ion-toolbar color="default_">
      <ion-title padding text-uppercase>Avançar</ion-title>
    </ion-toolbar>
  </ion-footer>
