page-order {
  .button-clear, .button-clear:hover,.button-clear:active {
    border-color: transparent !important;
    background: none !important;
    box-shadow: none !important;
    color: #3B3B3B !important;
}
}
