
   <ion-segment color="default_" [(ngModel)]="op">
      <ion-segment-button value="targets">
        Metas
      </ion-segment-button>
      <ion-segment-button value="awards">
        Prêmios
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="op">
    <ion-list *ngSwitchCase="'targets'" >
      <ion-item text-wrap *ngFor="let target of targets" (click)="openTargetDetail(target)">
        <ion-thumbnail item-start>
          <img [src]="target.image">
        </ion-thumbnail>
        <h2>{{target.title}}</h2>
        <p>{{target.description}}</p>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'awards'">
      <ion-item text-wrap *ngFor="let gift of gifts" (click)="openGiftDetail(gift)">
        <ion-thumbnail item-start>
          <img [src]="gift.image">
        </ion-thumbnail>
        <h2>{{gift.target.title}}</h2>
        <p>De {{gift.gift.price | currency:'BRL':true:'1.2-2' }} por {{(gift.gift.price * (100-gift.gift.off))/100 | currency:'BRL':true:'1.2-2'}}</p>

      </ion-item>
      <ion-item text-wrap *ngIf="gifts.length == 0" >
        <h2>Você ainda nao possui prêmios, mas é fácil conseguir. Bata as metas e ganhe prêmios!</h2>
      </ion-item>
    </ion-list>
    </div>
