<!--
  Generated template for the DfPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="default_">
    <ion-buttons left>
        <button ion-button menuToggle >
            <ion-icon color="light" name="menu"></ion-icon>
          </button>
      </ion-buttons>

    <ion-title class="keywords">Solicitar DF</ion-title>

    <!-- <ion-buttons end  block (click)="showCart($event)" >
      <button ion-button >
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
      <button ion-button >
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-list >
    <ion-item-divider color="default_inverted">Peça(s) para consulta</ion-item-divider>
    <ion-item *ngFor="let item of df.itens" (click)="editPiece(item)">
      {{item.name}}
    </ion-item>
    <ion-item (click)="addPeace()"><ion-icon color="primary" item-right name="add-circle"></ion-icon>
      Adicionar Peça
    </ion-item>
  </ion-list>

  <ion-list  radio-group [(ngModel)]="df.farm">
    <ion-item-divider color="default_inverted">Local de Entrega</ion-item-divider>

    <ion-item *ngFor="let farm of user.farms" >
      <ion-label>
        {{farm.name}}
        <hr>
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=&zoom=20&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284" />
      </ion-label>
      <ion-radio [value]="farm"></ion-radio>
    </ion-item>
  </ion-list>

  <button ion-button round full color="default_" padding  (click)="makeDf()">Solicitar DF</button>

</ion-content>
