page-df {
  ion-content{
    // background: color($colors, login, base);
    background-image: url(../assets/img/bg-about.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: cover;
  }
}
