<ion-header >
    <ion-navbar color="default_">
      <ion-buttons left>
          <button ion-button menuToggle >
              <ion-icon color="light" name="menu"></ion-icon>
            </button>
        </ion-buttons>

      <ion-title class="keywords">Propostas recebidas</ion-title>

    </ion-navbar>
  </ion-header>


<ion-content>
  <ion-item *ngFor="let proposal of proposals" (click)="openProposal(proposal)" >
    <ion-avatar item-start>
      <img [src]="proposal.provider.image">
    </ion-avatar>
    <h2>{{proposal.provider.name}}</h2>
    <p text-wrap> <span *ngFor="let item of proposal.itens">{{item.name}} </span> </p>
    <ion-note item-end>{{proposal.createdAt | date}}</ion-note>
  </ion-item>
</ion-content>
