<ion-header >
  <ion-navbar color="default_">
    <ion-buttons left>
        <button ion-button menuToggle >
            <ion-icon color="light" name="menu"></ion-icon>
          </button>
      </ion-buttons>

    <ion-title class="keywords">Proposta</ion-title>

  </ion-navbar>
</ion-header>


<ion-content >
<ion-card>
    <ion-card-header>
      <b>Fornecedor</b>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-avatar item-start>
          <img [src]="proposal?.provider.image">
        </ion-avatar>
        <h2>{{proposal?.provider.name}}</h2>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let item of proposal?.itens" >
    <ion-card-header text-wrap>
      <b>{{item.name}}</b>
    </ion-card-header>
    <ion-list>
      <ion-item >
        <p><b>QUANTIDADE</b></p>
        <h3 text-wrap>{{item.amount}}</h3>
        <p><b>Preço</b></p>
        <h3 text-wrap>{{item.price}}</h3>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- <button ion-button round full color="default_" (click)="openChat()">Iniciar Chat</button> -->

  <ion-row>
    <ion-col>
      <button class="menu-item" color="primary" ion-button block (click)="acceptProposal()" >
        <div>
          <ion-icon name="checkmark"></ion-icon>
          <label >Aceitar Proposta</label>
        </div>
      </button>
    </ion-col>
    <ion-col>
      <button class="menu-item" color="danger" ion-button block  >
        <div>
          <ion-icon name="close"></ion-icon>
          <label >Rejeitar Proposta</label>
        </div>
      </button>
    </ion-col>
  </ion-row>
</ion-content>
