page-proposal-detail {

  .menu-item {
    height: 13vh;
    &.img-bg {
        background-size: cover;
    }
    label {
      display: block;
      padding-top: 5px;
    }
    ion-icon {
        font-size: 30px;
    }
  }
}
