page-maps {
  .scroll {
      height: 100%
  }

  #map {
      width: 100%;
      height: 100%;
  }


  element{
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
  width: 200px;
  height: 253px;
  }
}
