<ion-header>
    <ion-navbar color="default_">
      <ion-title>
        Lojas próximas
      </ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content>
    <div #map id="map"></div>
    <div class="infobox-wrapper">
      <div id="infobox">
      </div>
    </div>
  </ion-content>
