<ion-header>
    <ion-navbar color="default_" class="messages-page-navbar">
        <ion-buttons>
            <img class="chat-picture" [src]="df.client.image">
        </ion-buttons>

        <ion-title class="chat-title">{{df.client.name}}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only class="attach-button" (click)="showAttachments()">
                <ion-icon name="attach"></ion-icon>
            </button>
            <!-- <button ion-button icon-only class="options-button" (click)="showOptions()">
                <ion-icon name="more"></ion-icon>
            </button> -->
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="messages-page-content">
    <ion-scroll scrollY="true" class="messages">
        <div *ngFor="let message of messages | async" class="message-wrapper">
            <div [class]="'message message-' + message.ownership">
                <div *ngIf="message.type == 'text'" class="message-content message-content-text">{{message.content}}</div>
                <div *ngIf="message.type == 'location'" class="message-content message-content-text">
                    <!-- <agm-map [zoom]="getLocation(message.content).zoom" [latitude]="getLocation(message.content).lat" [longitude]="getLocation(message.content).lng">
                        <agm-marker [latitude]="getLocation(message.content).lat" [longitude]="getLocation(message.content).lng"></agm-marker>
                    </agm-map> -->
                </div>
                <span class="message-timestamp">{{ message.createdAt | amDateFormat: 'HH:mm' }}</span>
            </div>
        </div>
    </ion-scroll>
</ion-content>

<ion-footer>
    <ion-toolbar color="whatsapp" class="messages-page-footer" position="bottom">
        <ion-input [(ngModel)]="message" (keypress)="onInputKeypress($event)" class="message-editor" placeholder="Type a message"></ion-input>

        <ion-buttons end>
            <button ion-button icon-only *ngIf="message" class="message-editor-button" (click)="sendTextMessage()">
                <ion-icon name="send"></ion-icon>
            </button>

            <button ion-button icon-only *ngIf="!message" class="message-editor-button" (click)="startRecord()">
                <ion-icon name="mic"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
