<ion-list>
  <ion-list-header>
      <button ion-button color="danger" float-right  (click)="cleanCart()" icon-only>
          <ion-icon name='trash' padding is-active="false"></ion-icon>
        </button>
  </ion-list-header>
    <ion-item-sliding *ngFor="let product of order.itens;let i = index" >
      <ion-item (click)="editItem(product,i)">
        <ion-avatar item-start>
          <img [src]="product.menu.image">
        </ion-avatar>
        <h2 text-no-wrap>{{product.menu.name}}</h2> <ion-badge color="default_" item-end>{{product.qtd}}</ion-badge>
        <p>{{product.price | currency:'BRL':true:'1.2-2'}}</p>
      </ion-item>
      <ion-item-options side="right"  (ionSwipe)="removeProduct(product)">
        <button ion-button color="danger" (click)="removeProduct(product)">
          <ion-icon name="trash"></ion-icon>
          Remover
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item>
      <span item-start>Total</span>
      <span item-end>{{order.total | currency:'BRL':true:'1.2-2' }}</span>
    </ion-item>
    <ion-item  *ngIf="order.itens.length > 0">
      <button ion-button round full color="default_" (click)="showOrder()">Fechar Pedido</button>
    </ion-item>

  </ion-list>
