page-home {
  .dash-user-info p ion-icon{
    margin: 4px;
    color: #ffca02;
  }
  .menu ion-card{
    min-height: 12vh;
    line-height: 20vh;
    padding: 0 0 0 0 !important;
    margin:  0 0 0 0 !important;
  }
  ion-content{
    // background: color($colors, login, base);
    background-image: url(../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: cover;
  }

  .menu-item {
    height: 13vh;
    &.img-bg {
        background-size: cover;
    }
    label {
      display: block;
      padding-top: 5px;
      color: #676767;
    }
    ion-icon {
        font-size: 30px;
    }
  }

}
