<ion-header >
  <ion-navbar color="default_">
    <ion-buttons left>
        <button ion-button menuToggle >
            <ion-icon color="light" name="menu"></ion-icon>
          </button>
      </ion-buttons>

    <ion-title class="keywords">Home</ion-title>

    <ion-buttons end  block (click)="showCart($event)" >
      <button ion-button >
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
      <button ion-button >
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!-- <ion-navbar color="default_">
    <ion-title class="keywords">Home</ion-title>
  </ion-navbar> -->
</ion-header>



<ion-content >
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Arraste para atualizar"
        refreshingSpinner="circles"
        refreshingText="Carregando...">
      </ion-refresher-content>
    </ion-refresher> -->

    <!-- <page-feed></page-feed> -->

  <ion-item>
    <ion-avatar item-start>
      <img [src]="user?.image" src="assets/img/avatar-ts-buzz.png">
    </ion-avatar>
    <h4>Olá, {{user.name}}</h4>
    <div class="dash-user-info">
      <p><ion-icon name="bookmarks"></ion-icon> <b>{{pedidos}}</b> realizados</p>
      <p><ion-icon name="checkmark-circle-outline"></ion-icon> <b>{{pedidos}}</b>  Pedidos ativos</p>
    </div>
  </ion-item>
  <ion-grid class="menu menu-o ">
    <ion-row >
      <ion-col col-6 *ngIf="user.access != 3" >
        <button class="menu-item" color="default_inverted" ion-button block (click)="openPage(1)">
          <div>
            <ion-icon name="create"></ion-icon>
            <label>Solicitar DF</label>
          </div>
        </button>
      </ion-col>
      <ion-col col-6 (click)="openPage(2)" *ngIf="user.access == 3" >
        <button class="menu-item" color="default_inverted" ion-button block >
          <div>
            <ion-icon name="home"></ion-icon>
            <label >DF's em aberto</label>
          </div>
        </button>
      </ion-col>
      <ion-col col-6 (click)="openPage(3)" *ngIf="user.access == 2" >
        <button class="menu-item" color="default_inverted" ion-button block >
          <div>
            <ion-icon name="home"></ion-icon>
            <label>Propostas</label>
          </div>
        </button>
      </ion-col>
      <ion-col col-6>
        <button class="menu-item" color="default_inverted" ion-button block >
          <div>
            <ion-icon name="build"></ion-icon>
            <label>Configurações</label>
          </div>
        </button>
      </ion-col>
      <ion-col col-6>
        <button class="menu-item" color="default_inverted" ion-button block >
          <div>
            <ion-icon name="information-circle"></ion-icon>
            <label>Suporte</label>
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <page-classes></page-classes> -->
  <!-- <targets-and-gifts></targets-and-gifts>
  <ion-fab center bottom (click)="scan()">
    <button ion-fab color="default_"><ion-icon name="qr-scanner"></ion-icon></button>
  </ion-fab> -->


</ion-content>
