page-feed {
  ion-slides {
    height: auto;
  }
  ion-slide{
    padding-bottom: 20px;
  }
  .swiper-container-horizontal > .swiper-pagination
  {
      bottom: 10px;
      z-index         : 99 !important;
  }
  .corner-ribbon {
    width: 200px;
    background-color: #ffd65e; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd65e), to(#febf04));
    background-image: -webkit-linear-gradient(top, #ffd65e, #febf04);
    background-image: -moz-linear-gradient(top, #ffd65e, #febf04);
    background-image: -ms-linear-gradient(top, #ffd65e, #febf04);
    background-image: -o-linear-gradient(top, #ffd65e, #febf04);
    background-image: linear-gradient(to bottom, #ffd65e, #febf04);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffd65e, endColorstr=#febf04);
    position: absolute;
    top: 15px;
    left: -65px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 0.8px;
    color: black;
    font-size: 12px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 9999;
    overflow: hidden;
  }



}
