<ion-slides pager *ngIf="showFeed"  >

      <ion-slide *ngFor="let feed of feeds" >
        <ion-card >
          <ion-row>
            <ion-col>
              <div *ngIf="feed.tag != null"  class="corner-ribbon">{{feed.tag}}</div>
              <img [src]="feed.image">
              </ion-col>
            <ion-col padding>
              <h2><b>{{feed.name}}</b></h2>
              <p text-wrap>{{feed.description}}</p>
            </ion-col>
          </ion-row>
          <!-- <ion-item>
            <ion-thumbnail item-start>
              <img [src]="feed.image">
            </ion-thumbnail>
            <h2>{{feed.name}}</h2>
            <p text-wrap>{{feed.description}}</p>
          </ion-item> -->
        </ion-card>
      </ion-slide>

    </ion-slides>
