@font-face {
    font-family: 'icomoon';
    src: url('../assets/fonts/icomoon.eot?ls340j');
    src: url('../assets/fonts/icomoon.eot?ls340j#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?ls340j') format('truetype'),
    url('../assets/fonts/icomoon.woff?ls340j') format('woff'),
    url('../assets/fonts/icomoon.svg?ls340j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin makeIcon($arg, $val) {
    .ion-ios-#{$arg}:before ,
    .ion-ios-#{$arg}-circle:before ,
    .ion-ios-#{$arg}-circle-outline:before ,
    .ion-ios-#{$arg}-outline:before ,
    .ion-md-#{$arg}:before ,
    .ion-md-#{$arg}-circle:before ,
    .ion-md-#{$arg}-circle-outline:before ,
    .ion-md-#{$arg}-outline:before  {
        font-family: "icomoon" !important;
        content: $val;
    }
}

@include makeIcon(icon-burguer, '\e902');
@include makeIcon(icon-burguer-outline, '\e903');




// Add such entries for each icon:
//@include makeIcon(icon-balance, '\e900')
