<ion-header >
    <ion-navbar color="default_">
      <ion-buttons left>
          <button ion-button menuToggle >
              <ion-icon color="light" name="menu"></ion-icon>
            </button>
        </ion-buttons>

      <ion-title class="keywords">Fazer Oferta</ion-title>

      <!-- <ion-buttons end  block (click)="showCart($event)" >
        <button ion-button >
          <ion-icon name="chatbubbles"></ion-icon>
        </button>
        <button ion-button >
          <ion-icon name="notifications"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar> -->
    <!-- <ion-navbar color="default_">
      <ion-title class="keywords">Home</ion-title>
    -->
    </ion-navbar>
  </ion-header>


<ion-content padding>
  <ion-list >
    <ion-item-divider color="default_inverted">Selecione as peças disponíveis</ion-item-divider>
    <ion-item *ngFor="let item of df?.itens"  >
      <ion-label>
        {{item.name}}
        <div *ngIf="item.check"  >
          <hr>
          <ion-row >
            <ion-col >
              <button no-margin no-padding ion-button icon-left clear (click)="editItem(item)" >
                <ion-icon name="create"></ion-icon>
                <div>Editar</div>
              </button>
            </ion-col>
            <ion-col>
              <button no-margin no-padding ion-button icon-left clear (click)="removeItem(item)"  >
                <ion-icon name="trash"></ion-icon>
                <div>Remover</div>
              </button>
            </ion-col>
          </ion-row>
        </div>
      </ion-label>
      <ion-checkbox color="default_" [(ngModel)]="item.check" (click)="itemChanged(item)"></ion-checkbox>
    </ion-item>
  </ion-list>
  <button ion-button round full color="default_" (click)="sendOffer()">Enviar Proposta</button>

</ion-content>
