<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="default_">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item  (click)="openPage(pages[0])">
        Home
      </button>
    </ion-list>
    <ion-list>
      <button menuClose ion-item  (click)="openOrderPage()">
        Pedidos
      </button>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-list (click)="logout()">
        <button menuClose ion-item>
          Sair
        </button>
    </ion-list>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
