// http://ionicframework.com/docs/theming/
.invalid-form-field {
    border-bottom: 2px solid #ea6153 !important;
}
.gift{
  background-color: map-get($colors, default);
}
ion-header ion-icon.back-button-icon.icon {
  color: map-get($colors, white);
}
@import url('https://fonts.googleapis.com/css?family=Lobster');
@font-face {
  font-family: 'Humanst';
  src: url('../assets/fonts/roboto-light.woff2') format('woff2'), url('../assets/fonts/roboto-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.item-md{
  background-color: #ffffffe0;
}

.keywords{
  color:map-get(map-get($colors, default_), base) !important;
  // font-size: 2.6vh;
}

.header-image {
  height: 40vh;
}

.main-content {
  padding: 20px;
  position: relative !important;
  background-color: white;
}
.text-input{
  overflow: inherit;
  font-size: 1.4rem;
  line-height: normal;
  text-overflow: inherit;
  color: #8e9093;
  margin: 0 0 2px;
  padding: 10px 0px;
}

.buttonQtdLess{
  padding-right:7px
}

.buttonQtdAdd{
  padding-left:7px
}

.toolbar-title-md {
  text-align: center;
  font-size: 1.6rem;
}
.toolbar-title-ios{
  font-weight: 400;
  font-size:1.5rem;
}



$options-popover-width: 200px;
$options-popover-margin: 5px;

.options-popover .popover-content {
  width: $options-popover-width;
  transform-origin: right top 0px !important;
  left: calc(100% - #{$options-popover-width} - #{$options-popover-margin}) !important;
  top: $options-popover-margin !important;
}

// Attachments Popover Component
// --------------------------------------------------

$attachments-popover-width: 100%;

.attachments-popover .popover-content {
 width: $attachments-popover-width;
 transform-origin: 300px 30px !important;
 left: calc(100% - #{$attachments-popover-width}) !important;
 top: 58px !important;
}


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
