<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="default_">
    <ion-title class="keywords">Pedidos</ion-title>
    <ion-buttons end (click)="showFilter($event)">
        <button ion-button icon-only>
          <ion-icon name="funnel"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content >
    <ion-refresher (ionRefresh)="refresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
      <ion-card *ngIf="noOrders" >
        <ion-card-header>
          Nenhum pedido feito até momento
        </ion-card-header>
        <ion-card-content>
          Que tal fazer um pedido e experimentar o melhor burguer artesanal da cidade?
        </ion-card-content>
      </ion-card>
      <ion-card  *ngFor="let order of orders | filterBy: filter; let i = index" [ngClass]="{active: isGroupShown(i)}" >
        <ion-list-header color="light" (click)="toggleGroup(i)" >
            <ion-icon  float-right color="success" item-right [name]="isGroupShown(i) ? 'ios-remove-circle' : 'ios-add-circle'"></ion-icon>
            {{order.createdAt | date:'medium'}}
          </ion-list-header>
          <ion-item>
            Status: {{order.check  | OrderStatus}}
          </ion-item>
          <div *ngIf="isGroupShown(i)">
            <ion-list>
                <span *ngFor="let item of order.itens;let i=index" >

                  <ion-item>
                    <ion-thumbnail item-start>
                      <img [src]="item.menu.image">
                    </ion-thumbnail>
                    <h2 text-wrap>{{item.menu.name}} </h2>
                    <p>{{item.price | currency:'BRL':true:'1.2-2'}}</p>
                  </ion-item>

                  <ion-item *ngIf=" item.note != undefined " >
                    <h3>Observações</h3>
                    <p>{{item.note}}</p>
                  </ion-item>
                  <ion-item *ngIf="item.additional.length > 0" >
                    <h3>Adicionais</h3>
                    <span *ngFor="let additional of item.additional  " margin>
                      <p [hidden]="additional.amount ==0">{{additional.amount}} unidade(s) de {{additional.name}} </p>
                    </span>
                  </ion-item>
                </span>
                <ion-item>
                  <span item-start>Taxa de entrega</span>
                  <span item-end>{{order.deliveryprice | currency:'BRL':true:'1.2-2' }}</span>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item>
                  <span item-start>Total</span>
                  <span item-end>{{order.total + order.deliveryprice | currency:'BRL':true:'1.2-2' }}</span>
                </ion-item>
              </ion-list>
              <ion-list>
                <ion-item *ngIf="order.delivery == true " >
                  <h2>Endereço</h2>
                  <p>
                    {{order.address?.name }}, {{order.address?.num }}<br>
                    {{order.address?.complement}}<br>
                    {{order.address?.neighborhood}}
                  </p>
                </ion-item>
                <ion-item *ngIf="order.delivery == false " >
                  Retirada na burguer house
                </ion-item>

              </ion-list>
              <ion-item *ngIf="order.check == 0" >
                <!-- <button ion-button icon-left clear item-start color="default_">
                  Editar
                </button> -->
                <button ion-button icon-left clear item-end color="default_" (click)="cancelOrder(order)">
                  <!-- <ion-icon name="close"></ion-icon> -->
                  Cancelar
                </button>
            </ion-item>

          </div>
        </ion-card>
    </ion-list>
</ion-content>
