<!--
  Generated template for the OrderCheckOut page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="default_">
    <ion-title class="keywords">Entrega</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="orderForm" >
  <ion-card  >
    <ion-card-header class="keywords">
        Modo de Entrega
    </ion-card-header>
    <ion-list radio-group [(ngModel)]="order.delivery" formControlName="delivery"  (ionChange)="deliveryChange()" [class.invalid-form-field]="!orderForm.controls.delivery.valid && (orderForm.controls.delivery.dirty || submitAttempt)">

      <ion-item>
        <ion-label>Retirar no Burguer House</ion-label>
        <ion-radio [value]="false" ></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Tele-entrega</ion-label>
        <ion-radio  [value]="true" ></ion-radio>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="order.delivery == true" >
    <ion-card-header class="keywords">
        Endereço
        <ion-icon float-right (click)="editProfile()" name="ios-add-circle">
        </ion-icon>
    </ion-card-header>
    <ion-list radio-group [(ngModel)]="order.address" formControlName="address"  [class.invalid-form-field]="!orderForm.controls.address.valid && (orderForm.controls.address.dirty || submitAttempt)">

      <ion-item *ngFor="let address of user.address" >
        <ion-label>
          <p>
            {{address.name}}
            {{address.num}}
          </p>
          <p >{{address.neighborhood}}</p>
          <p>{{address.complement}} </p></ion-label>
        <ion-radio [value]="address"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-card>



  <ion-card>
    <ion-card-header class="keywords">
        Telefone
      </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-input type="text"  placeholder="Telefone"  type="number" formControlName="phone"  [class.invalid-form-field]="!orderForm.controls.phone.valid && (orderForm.controls.phone.dirty || submitAttempt)"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card>
  </form>
  <p *ngIf="submitAttempt" style="color: #ea6153;">Preencha todos os campos corretamente</p>

</ion-content>

<ion-footer (click)="sendOrder()" >
  <ion-toolbar color="default_">
    <ion-title padding text-uppercase>Fechar Pedido</ion-title>
  </ion-toolbar>
</ion-footer>
