<!--
  Generated template for the OpenDfDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="default_">
      <ion-buttons left>
          <button ion-button menuToggle >
              <ion-icon color="light" name="menu"></ion-icon>
            </button>
        </ion-buttons>

      <ion-title class="keywords">Detalhes da DF</ion-title>

      <!-- <ion-buttons end  block (click)="showCart($event)" >
        <button ion-button >
          <ion-icon name="chatbubbles"></ion-icon>
        </button>
        <button ion-button >
          <ion-icon name="notifications"></ion-icon>
        </button>
      </ion-buttons> -->
    </ion-navbar>

  </ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      <b>Solicitante</b>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-avatar item-start>
          <img [src]="df.client?.image">
        </ion-avatar>
        <h2>{{df.client?.name}}</h2>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let item of df.itens" >
    <ion-card-header text-wrap>
      <b>{{item.name}}</b>
    </ion-card-header>
    <ion-list>
      <ion-item >
        <p><b>QUANTIDADE</b></p>
        <h3 text-wrap>{{item.amount}}</h3>

        <p padding-top><b>DESCRIÇÃO</b></p>
        <h3 text-wrap>{{item.description}}</h3>

        <p padding-top><b>Tipo</b></p>
        <h3 text-wrap>{{item.type}}</h3>

        <p padding-top *ngIf="item.observation" ><b>Observação</b></p>
        <h3 text-wrap>{{item.observation}}</h3>
      </ion-item>
      <ion-item  >
      <!-- <ion-item *ngIf="df.media?.length > 0" > -->
        <ion-slides pager>
          <ion-slide *ngFor="let media of item.media" >
            <img-loader [src]="media" useImg></img-loader>
          </ion-slide>
        </ion-slides>
      </ion-item>
    </ion-list>
  </ion-card>

<button ion-button round full color="default_" (click)="openChat()">Iniciar Chat</button>
<button ion-button round full color="default_" (click)="makeOffer()">Fazer proposta</button>
</ion-content>
