<!--
  Generated template for the TargetsAndGiftsDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="default_">
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content [class.gift]="type=='gift'">
  <div *ngIf="type == 'target'" >
    <ion-card>
      <img padding [src]="target.image"/>
      <ion-card-content>
        <ion-card-title>
          {{target?.title}}
          </ion-card-title>
        <p>{{target?.description}}</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-list>
        <ion-item *ngIf="target.type == 'spend' "  >
          <ion-icon name="card" color="default_" item-start large></ion-icon>
          <h4>Gaste R${{target?.val}},00</h4>
        </ion-item>
        <ion-item *ngIf="target.type == 'checkout' "  >
          <ion-icon name="qr-scanner" color="default_" item-start large></ion-icon>
          <h4>Faça a leitura de {{target?.val}} qrCodes diferentes</h4>
        </ion-item>
        <ion-item >
          <ion-icon name="trophy" color="default_" item-start large></ion-icon>
          <h4>{{target.gift?.off}}% de desconto em {{target.gift?.name}}</h4>
          <p>De {{target.gift?.price | currency:'BRL':true:'1.2-2' }} por {{(target.gift?.price * (100-target.gift?.off))/100 | currency:'BRL':true:'1.2-2'}}</p>
        </ion-item>
        <ion-item >
          <ion-icon name="calendar" color="default_" item-start large></ion-icon>
          <h4>{{target.retire | retirePipe}}</h4>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>

  <!-- GIFT -->
  <div *ngIf="type == 'gift'" >
    <div class="trophy" margin>
      <img padding src="img/trophy.svg" margin alt="award"/>
    </div>
    <ion-card >
      <ion-list>
        <ion-item>
          <ion-thumbnail item-start>
            <img [src]="gift.image">
          </ion-thumbnail>
          <h2>{{gift.gift?.off}}% de desconto em {{gift.gift?.name}}</h2>
          <p>De {{gift.gift?.price | currency:'BRL':true:'1.2-2' }} por {{(gift.gift?.price * (100-gift.gift?.off))/100 | currency:'BRL':true:'1.2-2'}}</p>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-list>
        <ion-item >
          <ion-icon name="trophy" color="default_" item-start large></ion-icon>
          <h4>{{gift.gift?.off}}% de desconto em {{gift.gift?.name}}</h4>
          <p>De {{gift.gift?.price | currency:'BRL':true:'1.2-2' }} por {{(gift.gift?.price * (100-gift.gift?.off))/100 | currency:'BRL':true:'1.2-2'}}</p>
        </ion-item>
        <ion-item >
          <ion-icon name="calendar" color="default_" item-start large></ion-icon>
          <h4>{{gift.retire | retirePipe}} </h4>
          <p>Válido até {{gift.expires | date}}</p>
        </ion-item>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
