page-targets-and-gifts-detail {
  .trophy{
    border-radius: 250px;
    background-color: #fff;
  }
  .gift{
    background-color: #ffca02 !important;
  }
  .trophy img{
    width: 90%;
    padding: 47px !important;
  }
  ion-thumbnail img{
    border-radius: 50px;
  }
  ion-segment .segment-md-default .segment-button{
    background-color: #ffca02 !important;
    color: #ffca02;
    opacity: 1;
  }
}
