<ion-header>

  <ion-navbar>
    <ion-title>Nova Conta</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-row>
    <ion-col>
      <ion-list >
      <form [formGroup]="formNewAccount" class="keywords">

        <ion-item>
          <ion-label ><b>Nome</b></ion-label>
          <ion-input type="text" formControlName="name"  [class.invalid-form-field]="!formNewAccount.controls.name.valid && (formNewAccount.controls.name.dirty || submitAttempt)" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label><b>Email</b></ion-label>
          <ion-input type="text" formControlName="email" [class.invalid-form-field]="!formNewAccount.controls.email.valid && (formNewAccount.controls.email.dirty || submitAttempt)" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label><b>Senha</b></ion-label>
          <ion-input type="password"  formControlName="password" [class.invalid-form-field]="!formNewAccount.controls.password.valid && (formNewAccount.controls.password.dirty || submitAttempt)" ></ion-input>
        </ion-item>


        <ion-item>
          <ion-label><b>Confirmação de senha</b></ion-label>
          <ion-input type="password"  formControlName="confirmPassword" [class.invalid-form-field]="!formNewAccount.controls.confirmPassword.valid && (formNewAccount.controls.confirmPassword.dirty || submitAttempt)" ></ion-input>
        </ion-item>

        <p *ngIf="submitAttempt" style="color: #ea6153;">Preencha todos os campos corretamente</p>

        <ion-row >
          <ion-col class="login-button" (click)="createAccount()">
            <div class="social-wrap a">
              <button  ion-button block > Login</button>
            </div>
          </ion-col>
        </ion-row>
      </form>
      </ion-list>
    </ion-col>

  </ion-row>
</ion-content>
