<ion-header>
  <ion-navbar color="default_">
    <ion-title class="keywords">Detalhes da Peça </ion-title>
    <ion-buttons start >
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list >
    <ion-item-divider color="default_inverted">Nome da Peça</ion-item-divider>
    <ion-item text-wrap>{{item.name}}</ion-item>
    <ion-row>
      <ion-col>
        <ion-item-divider color="default_inverted">Tipo</ion-item-divider>
        <ion-item>{{item.type}}</ion-item>
      </ion-col>
      <ion-col>
        <ion-item-divider color="default_inverted">Quantidade</ion-item-divider>
        <ion-item text-wrap>{{item.amount}}</ion-item>
      </ion-col>
    </ion-row>
    <ion-item-divider color="default_inverted" *ngIf="item.observation">Observação</ion-item-divider>
    <ion-item text-wrap>{{item.observation}}</ion-item>
  </ion-list>

  <form [formGroup]="pieceForm" >
    <ion-item [class.invalid-form-field]="!pieceForm.controls.name.valid && (pieceForm.controls.name.dirty || submitAttempt)">
      <ion-label floating>Nome/Modelo exato</ion-label>
      <ion-input  formControlName="name"   type="text" ></ion-input>
    </ion-item>

    <ion-item [class.invalid-form-field]="!pieceForm.controls.amount.valid && (pieceForm.controls.amount.dirty || submitAttempt)">
      <ion-label floating>Quantidade </ion-label>
      <ion-input  formControlName="amount"   type="text" ></ion-input>
    </ion-item>

    <ion-item [class.invalid-form-field]="!pieceForm.controls.price.valid && (pieceForm.controls.price.dirty || submitAttempt)">
      <ion-label floating>Preço </ion-label>
      <ion-input  formControlName="price"   type="number" ></ion-input>
    </ion-item>
  </form>

  <button ion-button round full color="default_" (click)="checkForm()">Adicionar Peça</button>
  <p *ngIf="submitAttempt" style="color: #ea6153;">Preencha todos os campos corretamente</p>

</ion-content>
