<!--
  Generated template for the Forgot page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-row>
    <ion-col>
      <ion-list inset>

        <ion-item class="keywords">
          <ion-label><b>Email</b></ion-label>
          <ion-input type="email" [(ngModel)]="user.email"></ion-input>
        </ion-item>

        <ion-row >
          <ion-col class="login-button">
            <div class="social-wrap a">
              <button  ion-button block (click)="sendForgot()" > Resetar Senha</button>
            </div>
          </ion-col>

        </ion-row>
        <p *ngIf="submitAttempt" style="color: #ea6153;">Preencha todos os campos corretamente</p>

      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
