<!--
  Generated template for the ClassesDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="default_">
      <button ion-button menuToggle >
        <ion-icon color="light" name="menu"></ion-icon>
      </button>
      <ion-title class="keywords">{{classe.name}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="cards-bg" >
  <ion-row responsive-sm  >
    <ion-col col-6 *ngFor="let menu of menus">
        <ion-card class="adv-map" (click)="openClasseToOrder(menu)"  >
            <div style="position: relative">
              <img-loader [src]="menu.image" useImg></img-loader>

              <!-- <img [src]="menu.image"> -->
              <!-- <ion-fab right top>
                <button color="default_" ion-fab class="fab-map">
                  <ion-icon name='add'></ion-icon>
                </button>
              </ion-fab> -->
            </div>
            <ion-item>
              <h4 text-wrap text-uppercase> {{menu.name}}</h4>
              <!-- <p *ngIf="menu.off == 0" >{{menu.price  | currency:'BRL':true:'1.2-2' }}</p> -->
              <p><span *ngIf="menu.off != menu.price" style="text-decoration: line-through;color:red">{{ menu.off   | currency:'BRL':true:'1.2-2' }}</span> {{menu.price  | currency:'BRL':true:'1.2-2' }}</p>
            </ion-item>
            <!-- <ion-item actions>
              <button ion-button color="primary" clear item-end icon-start>
                <ion-icon name='navigate'></ion-icon>
                Start
              </button>
            </ion-item> -->
          </ion-card>
    </ion-col>
  </ion-row>

    <!-- <ion-card class="adv-map"  *ngFor="let menu of menus" >
        <div style="position: relative">
          <img [src]="menu.image">
          <ion-fab right top>
            <button color="default_" ion-fab class="fab-map">
              <ion-icon name='add'></ion-icon>
            </button>
          </ion-fab>
        </div>
        <ion-item>
          <h2>{{menu.name}}</h2>
          <p text-wrap>{{menu.description}}</p>
        </ion-item>
        <ion-item>
          <ion-icon color="subtle" large item-start name='wine'></ion-icon>
          <h2>Institute of Fine Cocktails</h2>
          <p>14 S. Hop Avenue, Madison, WI 53703</p>
        </ion-item>
        <ion-item actions>
          <span ion-text item-start color="secondary" class="item-bold">18 min</span>
          <span ion-text item-start color="subtle">(2.6 mi)</span>
          <button ion-button color="primary" clear item-end icon-start>
            <ion-icon name='navigate'></ion-icon>
            Start
          </button>
        </ion-item>

      </ion-card> -->

</ion-content>
