<ion-card class="classes" *ngFor="let class of classes | async"  (click)="openClass(class)" >
    <img-loader [src]="class.image" useImg></img-loader>
    <!-- <img [src]="class.image"/> -->
    <div class="card-title keywords">{{class.name}}</div>
    <div class="card-subtitle" *ngIf="class.description != null" >{{class.description}}</div>
</ion-card>
