<ion-header>
  <ion-navbar color="default_">
    <ion-buttons left>
        <button ion-button menuToggle >
            <ion-icon color="light" name="menu"></ion-icon>
          </button>
      </ion-buttons>

    <ion-title class="keywords">DF's em aberto</ion-title>

    <!-- <ion-buttons end  block (click)="showCart($event)" >
      <button ion-button >
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
      <button ion-button >
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let df of opensDf" (click)="openOpenDf(df._id)" >
      <ion-avatar item-start>
        <img [src]="df.client?.image">
      </ion-avatar>
      <h2>{{df.client.name}}</h2>
      <p *ngFor="let item of df.itens" text-wrap padding-top>{{item.name}}</p>
      <button ion-button clear item-end>{{df.status | OrderStatus}}</button>
    </ion-item>
  </ion-list>
</ion-content>
