page-complete-register {
  .gallery-button {
    margin-top: 30px;
    width: 100%;
    position: relative;
    font-size: 25px;
    color: #fff;
    background-color: rgba(66, 66, 66, 0.274);
  }
  ion-icon[name="images"] {
    border: #FFFFFF 2px solid;
    border-radius: 50%;
    background-color: #2155AA;
    font-size: 35px;
	padding: 15px;
}
  ion-content{
    // background: color($colors, login, base);
    background-image: url(../assets/img/background-reg.jpg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: cover;
  }

}
