<ion-header>
  <ion-navbar color="default_">
      <ion-title class="keywords">Adicionar Peça </ion-title>
      <ion-buttons start >
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <form [formGroup]="pieceForm" >
    <ion-item class="keywords" >
      <b>Tipo</b>
    </ion-item>
    <ion-list radio-group [(ngModel)]="piece.type" formControlName="type"  [class.invalid-form-field]="!pieceForm.controls.type.valid && (pieceForm.controls.type.dirty || submitAttempt)">
      <ion-item >
        <ion-label>
          <h2>
            Peça Agrícola
          </h2>
        </ion-label>
        <ion-radio [value]="'agriculturalParts'" ></ion-radio>
      </ion-item>
      <ion-item >
        <ion-label>
          <h2>
            Auto Peças
          </h2>
        </ion-label>
        <ion-radio [value]="'automativeParts'" ></ion-radio>
      </ion-item>
      <ion-item >
        <ion-label>
          <h2>
            Materiais de Construção
          </h2>
        </ion-label>
        <ion-radio [value]="'constructionMaterials'" ></ion-radio>
      </ion-item>
    </ion-list>

    <ion-item [class.invalid-form-field]="!pieceForm.controls.name.valid && (pieceForm.controls.name.dirty || submitAttempt)">
      <ion-label floating>Nome</ion-label>
      <ion-input [(ngModel)]="piece.name"  formControlName="name"   type="text" ></ion-input>
    </ion-item>

    <ion-item [class.invalid-form-field]="!pieceForm.controls.description.valid && (pieceForm.controls.description.dirty || submitAttempt)">
      <ion-label floating>Descrição</ion-label>
      <ion-input [(ngModel)]="piece.description"  formControlName="description"   type="text" ></ion-input>
    </ion-item>

    <ion-item [class.invalid-form-field]="!pieceForm.controls.amount.valid && (pieceForm.controls.amount.dirty || submitAttempt)">
      <ion-label floating>Quantidade</ion-label>
      <ion-input [(ngModel)]="piece.amount"  formControlName="amount"   type="text" ></ion-input>
    </ion-item>

    <ion-item [class.invalid-form-field]="!pieceForm.controls.observation.valid && (pieceForm.controls.observation.dirty || submitAttempt)">
      <ion-label floating>Observações</ion-label>
      <ion-input [(ngModel)]="piece.observation"  formControlName="observation"   type="text" ></ion-input>
    </ion-item>


    </form>

    <ion-grid >
      <ion-row no-padding no-margin>
          <ion-col col-4 *ngFor="let item of media" >
            <img src="{{item}}" />
          </ion-col>
        </ion-row>
    </ion-grid>
    <div class="gallery-button" (click)="showAttachments()" text-center>
      <ion-icon name="images"></ion-icon>
      <p>Adicionar Mídia</p>
    </div>

    <!-- <ion-item >
      <button ion-button round full color="default_" (click)="showOptionsAttachment()">anexo</button>
    </ion-item> -->

    <button ion-button round full color="default_" (click)="checkForm()">Adicionar Peça</button>
    <p *ngIf="submitAttempt" style="color: #ea6153;">Preencha todos os campos corretamente</p>


</ion-content>
